body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0px;
}
header {
    color: #000000;
    margin: 0px;
    text-align: center;
    padding: 5px;
}
h1 {
    margin: 0px;
}
section#main{
    float: right;
    width: 70%;
    height: 200px;
}
nav{
    float: left;
    width: 30%;
    height: 200px;
}
footer{
    text-align: center;
    padding: 10px;
    margin: 0px 0px 0px 0px;
    font-size: 90%;
    clear: both;
}